* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

header {
    color: white;
    padding: 30px 0;
    text-align: left;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.about, .education, .skills, .contact {
    background-color: white;
    padding: 40px 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h2, .education h2, .projects h2, .skills h2, .contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 30px;
    
}
.profile p {
    max-width: 600px;
}
.skills ul {
    list-style-type: disc;
    padding-left: 40px;
}
.skills ul li {
    margin-bottom: 10px;
    font-size:
}
.about{
    background-image: url(Pictures/blockchain.jfif);
    background-position: center;
}
.education{
    background-image: url(Pictures/blockchain.jfif);
    background-position: center;
}
.skills{
    background-image: url(Pictures/blockchain.jfif);
    background-position: center;
}
.contact{
    background-image: url(Pictures/blockchain.jfif);
    background-position: center;
}
.container1 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    
}
.icons{
    position: absolute;
    margin-left: 1000px;
    margin-top: -40px;
    font-size: 50px;
}
.twi, .insta, .fb , .tele{
    color: inherit;
}

.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
  }
  .home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .home .content {
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 1;
  }
  .home .image {
    flex: 1 1 40rem;
    z-index: 1;
  }
  .home .image img {
    width: 70%;
    margin-left: 6rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .home .image img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .home .content h2 {
    font-size: 5rem;
    font-weight: 800;
    color: #002057;
  }
  .home .content h2 span {
    font-size: 5rem;
    font-weight: 800;
    color: #ff7b00;
  }
  .home .content p {
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .content p span {
    font-size: 2.5rem;
    color: rgb(148, 8, 8);
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .btn {
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
  }
  .home .btn span {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }
  .home .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .home .btn:hover {
    background: #1a047e;
  }
  .home .btn:hover i {
    transform: translateX(5px);
  }
  .content1{
    margin-top: -15%;
    margin-left: 150px;
    font-size: 50px;
    display: auto;
  }
  @media (max-width: 450px) {
    .home .btn {
      margin: 4rem 0;
    }
    .socials {
      margin-top: 12rem;
    }
    .home .image img {
      margin-top: -12rem;
    }
    .home .content p {
      font-size: 2.2rem;
    }
    .home .content p span {
      font-size: 2.2rem;
    }
  }
  .btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg,#2506ad,green);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    margin-left: 5px;
  }
  .avatar{
    width: 180px;
    position: absolute;
    bottom: 0;
    right: 23%;
  }
  .anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
  }
  @keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }
  